<p>sharing-data works!</p>
<div class="container">
  <div class="row">
    <div class="col" style="background-color: rgb(173, 198, 252); height: 70px;">

    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: rgb(245, 241, 178); height: 170px;">

    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: rgb(173, 198, 252); height: 70px;">

    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: rgb(245, 241, 178); height: 170px;">

    </div>
  </div>
</div>
