<div class="container">
  <div class="row">
    <div class="col" style="background-color: rgb(173, 198, 252); height: 40px;">
      <h3>Parent to Child</h3>
    </div>
  </div>
  <div class="row">
    <div class="col border-right" style="background-color: rgb(245, 241, 178); height: 300px;">
      <app-parent1></app-parent1>
    </div>
    <div class="col" style="background-color: rgb(245, 241, 178); height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: rgb(173, 198, 252); height: 40px;">
      <h3>Child to Parent</h3>
    </div>
  </div>
  <div class="row">
    <div class="col border-right" style="background-color: rgb(245, 241, 178); height: 300px;">
      <app-parent2></app-parent2>
    </div>
    <div class="col" style="background-color: rgb(245, 241, 178); height: 300px;">
    </div>
  </div>
</div>
