<br/>

<!-- Example single danger button -->

<div class="btn-group" style="margin: 20px;">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="dropdown">Action</a></li>
    <li><a class="dropdown-item" href="dropdown">Another action</a></li>
    <li><a class="dropdown-item" href="dropdown">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="dropdown">Separated link</a></li>
  </ul>
</div>
